body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:    "header header header header"
                            "navbar contenido contenido ajustes"
                            "navbar contenido contenido ajustes";
    
    
}
.header{
    grid-area: header;
    border: 5px solid aqua;
}
.navbar{
    grid-area: navbar;
    border: 5px solid red;
}
.contenido{
    grid-area: contenido;
    border: 5px solid green;
}
.ajustes{
    grid-area: ajustes;
    border: 5px solid blue;
}