:root {
  --fondo:#edf2f9;
  --complemento-fondo: #f9fafd;
  --blue: #2c7be5;
  --indigo: #727cf5;
  --purple: #6b5eae;
  --pink: #ff679b;
  --red: #e63757;
  --orange: #fd7e14;
  --yellow: #f5803e;
  --green: #00d27a;
  --teal: #02a8b5;
  --cyan: #27bcfd;
  --white: #f9fafd;
  --gray: #cfcfcf;
  --gray-dark: #757b84;
  --primary: #2c7be5;
  --secondary: #748194;
  --success: #00d27a;
  --info: #27bcfd;
  --warning: #f5803e;
  --danger: #e63757;
  --font-color: 0.2s #000000;
  --dark-font:#000000;
  --cards: #ffffff;
  --sidebar-width: 300px;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1540px;
}
*{
  padding: 0;
  margin: 0;
 transition: 0.2s;
 
}
body{
  padding-top:80px;
  display: grid;
  grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width));
  grid-template-rows:1fr 1fr;
  grid-template-areas:    
                          "sidebar contenido"
                          "sidebar contenido";
  background-color: var(--fondo);
  width: 80%;
  overflow-y: scroll;
  overflow-x: none;
  
  
}
body::-webkit-scrollbar {
  width: 12px; /* ancho de toda la barra de desplazamiento */
  color: transparent;
}
body::-webkit-scrollbar-track {
  background: transparent; /* color del área de seguimiento */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* color del pulgar de desplazamiento */
  border-radius: 20px; /* redondez del pulgar de desplazamiento */
  border: 3px solid var(--complemento-fondo); /* crea un relleno alrededor del pulgar de desplazamiento */
}
.contenido{
  grid-area: contenido;
  
}

/* HEADER INICIO */
.header{
  top: 0;
  left: 10%;
  width: 100%;
  position: fixed;
  height: 80px;
  background-color: var(--fondo);
  display: flex;
  align-items:center;
  z-index: 100;
}
.navbar{
  display: flex;
  position: absolute;
  left: 65%;
  
  text-align: center;
  z-index: 100;
  
}
.nombre-empresa{
  font-size: 40px;
  font-weight: 800;
  color: #2c7be5;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.nav__menu--link{
  text-decoration: none;
  
}
.nav__menu{
  display: flex;
  align-items: center;
  margin-right: 40px;
  list-style: none;
  
}
.nav__menu--item{
  font-size:18px;
  margin: 0 10px;
  
}
.logo{
  display: flex;
  align-items:center;
  cursor: pointer;
  
}
.logo img {
  height: 40px;
}

.busqueda{
  margin-left: 30px;
  background-color: var(--cards);
  border-radius: 2cm;
  display: flex;
  align-items:center;
  overflow: hidden;
  width: 30%;
}
.lupita{
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 5px;
}

.barra__busqueda{
  border: none;
  color: var(--font-color);
  background-color: var(--cards);
  width: 100%;
  height: 40px;
}

.boton__ajustes-animation{
  animation: rotate 2s forwards infinite; 
}
.ripple{
  position: absolute;
  border: 5px solid rgba(12, 229, 139, 0.485);
  animation: ripple 2s infinite;
  border-radius: 50%;
  top: 12px;
  left: 15px;
}

.perfil{
  width: 35px;
  height: 35px;
  border: solid 1px #000000;
  border-radius: 50%;
  overflow: hidden;
}
nav ul li a #foto__perfil{
  width: 37px;
  height: 35px;
}

#hamburguesita{
  display: none;
  
}
.hamburguesita_label{
  display: flex;
  align-items:center;
  overflow: visible;
  height: 25px;
  width: 30px;
  padding: 10px;
  
  border-radius: 50%;
  
}
.hamburguesita_label:hover{
  background-color: var(--primary);
  cursor: pointer;
  
  
}
/* HEADER FIN */

  /*SIDEBAR INICIO*/
.sidebar{
  position: fixed;
  left: 10%;
  background-color: var(--fondo); 
  width: var(--sidebar-width);
  z-index: 100;
  display: block;
  
 
}
.nav__link{
  color: var(--gray-dark);
  display: block;
  padding: 15px 0;
  text-decoration: none;
}
.nav__link:hover{
  color: var(--dark);
}
.nav__link--inside{
  border-radius: 6px;
  padding-left: 20px;
}

.listN{
  width: 100%;
  max-height: calc(100vh - 80px);
  height: auto;
  border-radius: 0 16px 16px 0;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  overflow-y: scroll;
}
.listN::-webkit-scrollbar {
  width: 12px; /* ancho de toda la barra de desplazamiento */
}
.listN::-webkit-scrollbar-track {
  background: transparent; /* color del área de seguimiento */
}

.listN::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* color del pulgar de desplazamiento */
  border-radius: 20px; /* redondez del pulgar de desplazamiento */
  border: 3px solid var(--complemento-fondo); /* crea un relleno alrededor del pulgar de desplazamiento */
}
.listN__item{
  width: 100%;
  list-style: none;
  
}
.listN__img{
  
  padding-left: 15px;
}

.listN__item--click{
  cursor: pointer;
}
.listN__button{
  display: flex;
  gap: 1em;
  margin: 0 auto;
}
.arrow .listN__arrow{
  transform: rotate(180deg);
}
.listN__arrow{
  margin-left: auto;
  transition: transform .3s;
}

.listN__show{
  width: 80%;
  margin-left: auto;
  list-style: none;
  transition: height .4s;
  height: 0;
  overflow: hidden;
}
#version_style{
  color: var(--blue);
  font-weight: bold;
  background-color:#ccdef6;
  height: 10px;
  padding-right: 0.71111em;
  padding-left: 0.71111em;
  border-radius: 10rem;
  padding-bottom: 4px;
  padding-top: 1px;
}
#purchase_sidebar{
  width: 100% !important;
  cursor: pointer;
}
  /*SIDEBAR FIN*/
/* Contenido INICIO */
.contenido{
  position: relative;
  left: calc(15% );
}

/* Contenido FIN*/

/* EMPIEZA VENTANA DE AJUSTES */
.capa__ajustes{
    position: fixed; 
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100vh;
    z-index: 10000;
    top: 0;
    display: none;
    
}

.ajustes{
    position: relative;
    float: right;
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    width: 350px;
    height: 100vh;
    overflow: hidden;
    color: var(--font-color);
    background-color: var(--fondo);
    max-height: none;
}


/* Primer DIV */

.titulo{
    display: flex;
    margin-left: 6px;
    margin-top: -5px;
}

.p4{
    font-size: .83333rem;
    color: var(--font-color);
}

.h3t{
    font-weight: 500;
}

#settingsT{
    margin-top: 15px;
}

#svg1{
    margin-top: 15px;
}

#ptT{
    margin-top: 10px;
}
.h4t{
    font-weight: 500;
    color:#344050
}

.titulo h4{
    color: var(--light);
}

.svgt{
    width: 1rem;
    margin-right: 6px;
}

.h4t,.pt{
    margin:0.5rem;
}

label{
    font-size: .83333rem;
    font-weight: 500;
    color: #5e6e82;
}

.top-left, .rest1{
    margin-left: 6px;
}

.top-left p{
    margin-top: -12px;
    color: var(--light);
}
.top{
    z-index: 1;
    width: 350px;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    color: var(--light);
    background-image: url(corner-1.dfdb6c51.png);
    position: sticky;
    top: 0;
    right: 0px;
    overflow: hidden;
}

.contenido-ajustes{
    z-index: 1;
    overflow: scroll;
    max-height: 100%;
}

.contenido-ajustes::-webkit-scrollbar{
    cursor: pointer;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 10px;
    transform: translateY(0px);
}

.pt{
    opacity: .75;
    margin-top: -8px;
}

.button{
    margin: 0.5rem;
}

.close-button{
    border: none;
    opacity: .75;
    background-color: transparent;
    color: var(--light);
    border-radius: 0%;
}

.close-button:hover{
    cursor: pointer;
}

.theme{
    display: flex;
    margin: 0.5rem;
}

.default, .dark{
    overflow: hidden;
    border-radius: 0.375rem;
    width: 50%;
    border-radius: .75rem;
}
.default:after, .dark:checked{
    color: var(--green);
}

label img{
    width: 100%;
}

.default-button{
    flex-direction: column;     
}

.default-pic{
    margin-right: 8px;  
}

.dark-pic{
    margin-left: 8px;  
}

.light-mode-img.selected,
.dark-mode-img.selected {
    border: 3px solid #00d27a; 
    border-radius: 0.375rem;
}

/* .default-button img{
    border: 3px solid #00d27a; 
} */

.default-button, .dark-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;    
    height: 111px;
    width: 146px;
    border: 3px solid transparent;
}

.default-button :hover, .dark-button :hover{
    cursor: pointer;
}

.default-button img, .dark-button img{
   border-radius: 0.375rem;
   width: 140,5px;
   height: 105.375px;
   margin-bottom: 4px;
}

.Light, .Dark{
    color: #5e6e82;
    font-weight: 500;
    position: relative;
    margin-top:2px; 
    margin-left: 8px;
}

.input-label-light, .input-label-dark{
    display: flex;  
}

.default, .dark{
    width: 18px;
    height: 18px;
}

.rest1{
    margin-top: 15px;
}

.green-border{
    border: 3px solid #00d27a;
    border-radius: 0.375rem;
}

/* Segundo y tercer DIV */


.uno-dos, .dos-tres, .tres-cuatro, .cuatrp-cinco, .cinco-seis{
    margin: 0.9rem;
    opacity: .75;
    color: var(--gray);
}

.uno-dos{
    margin-top: 48px;
}

.second, .third, .fourth, .fifth{
    margin-left: 14px;
    display: flex;
    flex-wrap:nowrap;
}

.rtl-mode, .fluid-layout, .navigation-position{
    display: flex;
}

.arrow-left, .arrow-both, .horizontal{
    margin-top: 12px;
}

.toggle-container {
    display: flex;
    align-items: center;
  }

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
    width: 28px;
    height: 16px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 4px;
    background-color: var(--fondo);
    border-radius: 50%;
    transition: .4s;
    top: 2px;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:checked + .slider:before {
    transform: translateX(11px);
  }

  .input-none {
    display: none;
  }

/* Cuarto DIV */

.fourth{
    flex-direction: column;
}

.navigation-title{
    display: flex;
    flex-direction: column;
}

.title-top{
    display: flex;
}

.new-tag{
    font-size: .69444rem;
    margin-top: 10px;
    font-weight: 700;    
    color: #00864e;
    padding: 5px;
    position: relative;
    bottom: 2px;
}

.tag-text{
    overflow: hidden;
    background-color:#ccf6e4;
    padding-right: 0.71111em;
    padding-left: 0.71111em;
    border-radius: 10rem;
    padding-bottom: 4px;
    padding-top: 1px;
    
}

.horizontal-checkboxes{
    display: flex;
    margin-left: 20px;    
}

.check-1, .check-2{
    margin-right: 20px;
}

/* Quinto DIV */

.fifth{
    display: flex;
    flex-direction: column;
}

.nav-styles{
    display: grid;
    grid-template-areas: 
     "nav1 nav2"
     "nav3 nav4";
}

.transparent-button, .inverted-button, .cardT-button, .vibrant-button{
    background-color: transparent;
    border-style: none;
}

/* .nav1 img{
    border: 3px solid #00d27a;
    border-radius: 0.375rem;
} */

.nav1 img,.nav2 img, .nav3 img, .nav4 img{
    border: 3px solid var(--secondary);
    border-radius: 0.375rem;
}

.nav1 img, .nav2 img, .nav3 img, .nav4 img{
    background-color: var(--fondo);
    height:111.43px;
    width: 136.5px;
}

.nav1 img, .nav2 img, .nav3 img, .nav4 img:hover{
    cursor: pointer;
}

.nav1-img.selected, .nav2-img.selected, .nav3-img.selected, .nav4-img.selected {
            border-color: var(--green);
        }
/* Sexto DIV */

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-final{
    padding-top: 20px;
}

.h3t-last{
    color: var(--font-color);
    font-weight: 500;
    font-size: larger;
}

.last-title{
    margin-top: 8px;
    text-align:  center;
    margin-left: 9px;
}

.last-subtitle{
    text-align: center;
    opacity: .75;
    margin-top: 15px;
    color: var(--font-color);
}

.purchase-button{
    width: 108.9px;
    height: 35.6px;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 123, 229);
    border-color: rgb(44, 123, 229);
    border-style: none;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 10px;
}

.purchase-button:hover{
    cursor: pointer;
}


/* TERMINA VENTANA DE AJUSTES */


/*Secciones*/

.cuadros{
    width: 95%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}
.cuadro1, .cuadro2, .cuadro3, .cuadro4{
  width: 45%; 
  height: 130px;
  background-color: var(--cards);
  border: 1px solid var(--dark);
  border-radius: 5px;
  margin-bottom: 25px; /* Espaciado entre los cuadros */
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cuadro5, .cuadro6{
  width: 45%; 
  height: 480px;
  background-color: var(--cards);
  border: 1px solid var(--dark);
  border-radius: 5px;
  margin-bottom: 25px; /* Espaciado entre los cuadros */
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.infoDer{
  width: 30%;
  float: right;
  margin-top: 2%;
  height: 120px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoIzq{
  width: 45%;
  height: auto;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.line-height-1{
  line-height: 0.5;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: var(--font-color)!important;
  font-size: 2.0736rem;
  font-weight: 400!important;
  margin-bottom: 10px;
 
}
h5{
  font-size: 16px;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.2;
  color: var(--font-color);
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h5 span, .marcas{
  font-size: .69444rem;
}
.cuadroVerde{
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #00864e;
  background-color: #ccf6e4;
  padding-right: 0.71111em;
  padding-left: 0.71111em;
  border-radius: 10rem; 
  display: inline-block;
  padding: 0.35556em 0.71111em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 10px;
}
.cuadroAzul{
  font-size: .69444rem;
  color: #1978a2;
  background-color: #d4f2ff;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding-right: 0.71111em;
  padding-left: 0.71111em;
  border-radius: 10rem;
  display: inline-block;
  padding: 0.35556em 0.71111em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 10px;
}
.samsung, .huawei, .apple{
  width: 100%;
  line-height: 0.8;
  font-size: 12px;
  margin-bottom: 10px;
  color: var(--font-color);
}
.circuloH, .circuloS, .circuloA{
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;

}

.porcentaje{
  margin-left: 30%;
  width: 50%;
  padding-right: 20px;
  text-align: right;
}
.huawei .porcentaje{
  padding-left: 4%;
}

.infoTiempoIzq{
  margin-top: 10px;
  width: 60%;
  height: 30px;
  float: left;
}
.infoTiempoDer{
  width: 35%;
  float: right;
  margin-top: 10px;
  margin-right: 10px;

}
.tiempoIzq{
  width: 25%;
  margin-right: 1rem!important;
  padding-bottom: 10px;
  vertical-align: middle;
  border-style: none;
  float: left;
}
.tiempoDer{
  width: 65%;
  float: right;
}
.tiempoDer h5{
  margin-bottom: 6px;
}

.soleado{
  color: rgba(245, 130, 62, 1);
  font-size: .69444rem;
}
.prec{
  font-size: .69444rem;
  color: var(--font-color);
}
.gradosG{
  line-height: 1;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 2.0736rem;
  color: #2c7be5!important;
  font-weight: 400!important;
  text-align: right;
}
.gradosP{
  color: #4d5969!important;
  font-size: .83333rem;
  text-align: right;
  margin-top: 10px;
}

.menu-container{
  text-align: right;
}
.menu-btn {
  background-color: var(--cards);
  border: none;
  color: #333;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu-container:hover .dropdown-menu {
  display: block;
}

.c5Titulo{
  height: 50px;
}
.c5Titulo h5{
  border: 1px solid transparent;
  float: left;
  width: 50%;
}
.c5Titulo .select-option{
  position: relative;
  align-items: right;
  float: right;
  margin-bottom: 10px;
}
.select-option select{
  width: 100%;
  padding: 5px;
  cursor: pointer;
  align-items: right;
  word-wrap: normal;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 500;
  color: var(--font-color);
  background-color: var(--complemento-fondo);
  border: 1px solid var(--dark);
  border-radius: 0.25rem;
}
.c5Contenido{
  height: 400px;
}
.c5Contenido .c5Contenido1{
  float: left;
  width: 50%;
  height: 300px;
}
.c5Contenido1 div{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.circuloR, .circuloB, .circuloF, .circuloS2, .circuloR2{
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.circuloR{
  border: 1px solid #fef0e8;
  background-color: #fef0e8; 
}
.circuloR .letra{
  font-weight: 500;
  color: #f5803e;
}
.circuloB{
  border: 1px solid #e5f7ff;
  background-color: #e5f7ff; ;
}
.circuloB .letra{
  font-weight: 500;
  color: #27bcfd;

}
.circuloF{
  border: 1px solid #e6effc;
  background-color: #e6effc; 
}
.circuloF .letra{
  font-weight: 500;
  color: #2c7be5 ;
}
.circuloS2{
  border: 1px solid #fce7eb;
  background-color: #fce7eb; 
}
.circuloS2 .letra{
  font-weight: 500;
  color: #e63757 ;
}
.circuloR2{
  border: 1px solid #e0faef;
  background-color: #e0faef; 

}
.circuloR2 .letra{
  font-weight: 500;
  color: #00d27a;
}
.c5Titulos a{
  color: var(--font-color)!important;
  text-decoration: none;
  background-color: transparent;
  font-size: .83333rem;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 500;
  line-height: 1.2;
}
.c5Titulos a:hover{
  text-decoration: underline;
}
.c5CuadroAzul{
  font-size: .69444rem;
  color: #1978a2;
  background-color: #d4f2ff;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding-right: 0.71111em;
  padding-left: 0.71111em;
  border-radius: 10rem;
  display: inline-block;
  padding: 0.35556em 0.71111em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 10px;
}
.c5Contenido .c5Contenido2{
  float: right;
  width: 50%;
  height: 300px;
}
.c5Contenido2 div{
  margin-bottom: 50px;
  margin-top: 10px;
  text-align: end;
}
.tiempoTrabajo{
  font-weight: 600!important;
  font-size: .83333rem;
  color:var(--font-color);
}
.barraTrabajo progress{
 width: 25%;
 align-items: left;
}
.enlaceFinal a{
  cursor: pointer;
  color: #1657af;
  text-align: center;
  display: block;
  width: 100%;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
  text-decoration: none;
}
.enlaceFinal a:hover{
  text-decoration: underline;
}
.c5Graficas{
  border: 1px solid transparent;

}
.chart{
  border: 1px solid var(--dark);
  margin-top: 20%;
}

.miGrafico{
  width: 100%;
  padding: 20px;
  position: relative;
  max-width: 100%;
  height: auto;
  border-radius: 10px; 
  transition: opacity 0.3s ease;
}
.miGrafico:hover{
  opacity: 0.8;
}

.miGrafico2 {
  width: 100%;
  padding: 20px;
  position: relative;
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease; 
}

.miGrafico2:hover {
  opacity: 0.8; 
}

.miGrafico3{
  width: 100%;
  margin: 0;
  position: absolute;
  max-width: 100%;
  transition: opacity 0.3s ease;
  align-self: center;
}
.miGrafico3:hover{
  opacity: 0.8;
}
.dentroGrafica{
  font-weight: 500!important;
  font-size: 20px;
  width: 100px;
  position: absolute;
  color:var(--font-color)!important;
  text-align: center;
}
/*contenido migue*/

.parteMigue1 {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}

.ContenedorPriM {
  background-color:transparent ;

  display: flex;
  margin-left: 20px;
}

.ContenedorSecuM {
  background-color: transparent;
  margin-left: 20px;
  

  display: flex;
}

.StorageM {
  padding: 15px;
  flex: 1 75%;
  margin: 5px;
  background-color: var(--cards);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.StorageM p {
  margin-top: 0px;
 
}

/*
strong.highlightM{ 
    font-weight: bold;
    font-size: 100px;

}
*/
.barraHorizM {
  height: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.color1M {    /*Quiero aadir un border-top/bottom-left radius pero no funciona*/
  background-color: #2c7be5;
  width: 43%;
  height: 100%;
  border-left: 10px;
}
.color2M {
  background-color: #27bcfd;
  width: 18%;
  height: 100%;
}
.color3M {
  background-color: #00d27a;
  width: 28%;
  height: 100%;
}
.color4M {
  background-color: #cfcfcf;
  width: 40%;
  height: 100%;
}
.separadorColorM {
  height: 10px;
  background: var(--cards);
  width: 2px;
}

.runningM {
  flex: 1 25%;
  margin: 5px;
  background-color: var(--cards);
  border-radius: 10px;
}

.bestSellingM {
  flex: 1 75%;
  margin: 5px;
  background-color: var(--cards);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.sharedFilesM {
  flex: 1 25%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--cards);
  border-radius:10px;
  color: var(--font-color);
}

.circulosM {
  display: inline-block;
  align-items: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 115px;
  background-color: purple;
  justify-content: center;
}
.C1 {
  background-color: #2c7be5;
}
.C2 {
  background-color: #27bcfd;
}
.C3 {
  background-color: #00d27a;
}
.C4 {
  background-color: #cfcfcf;
}

.circulosM p {
  white-space: nowrap;
  margin-left: 13px;
  font-size: 13px;
  margin-top: -2px;
}

.tituloNaranjaM {
  margin-bottom: 0.25rem;
  color: #f5803e;
  margin: 10px;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.textobasicoM {
  font-size: 0.83333rem;
  color: #5e6e82;
  margin-left: 10px;
  font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.textoNaranjaM {
  margin-top: 1rem;
  color: #f5803e;
  font-size: 1rem;
  margin: 10px;
}
.textoNaranjaM h5{
  color: #f5803e;
}

.textoNaranjaM:hover {
  text-decoration: underline 1px solid #f5803e;
  cursor: pointer;
}

.cabeceraProductosM {
  
  background-color:var(--complemento-fondo) ;
  height: 40px;
  display: flex;
  width: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.primeraParteCabeM {
  font-weight: 500;
  color: var(--font-color);
  margin-left: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 13px;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.segundaParteCabeM {
  font-weight: 500;
  color: var(--font-color);
  margin-top: 10px;
  white-space: nowrap;
  font-size: 13px;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.terceraParteCabeM {
  font-weight: 500;
  color: var(--font-color);
  margin-top: 10px;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 13px;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.espaciador1M {
  flex-grow: 5;
}
.espaciador2M {
  flex-grow: 1;
}
.espaciador3M {
  flex-grow: 0.9;
}
.espaciador4M {
  flex-grow: 0.03;
}
.espaciador5M {
  flex-grow: 0.03;
}

.fotoProductosM {
  width: 10%;
  margin: 5px;
}

.casillaProductosM {
  align-items: center;
  position: static;
  display: flex;
  flex: auto;
  color: var(--font-color);
}
.textoProducto1M {
  display: flex;
  flex-direction: row;
  font-size: 0.83333rem; 
  margin-left: 10px;
  color: var(--font-color);
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.textoProducto2M {
  display: flex;
  flex-direction: row;
  color: var(--font-color);
  margin-left: 10px;
}

.contenidoExtraM{
  color: var(--font-color);
 font-family:"Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-weight: 500;
 
}

.BarraHorizProgM {
  height: 5px;
  width: 50px;
  position: relative;

  margin: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 0.375rem;
}
.BarraAzulProgM {
  background-color: #2c7be5;
  width: 43%;
  height: 100%;
  border-radius: 0.375rem;
  position: absolute;
}
.BarraGrisProgM {
  background-color: #141516;
  width: 61%;
  left: 41%;
  height: 100%;
  border-radius: 0.375rem;
  position: relative;
}
.BarraAzulProgM2 {
  background-color: #2c7be5;
  width: 27%;
  height: 100%;
  border-radius: 0.375rem;
}
.BarraGrisProgM2 {
  background-color: #141516;
  width: 73%;
  left: 27%;
  height: 100%;
  border-radius: 0.375rem;
}
.BarraAzulProgM3 {
  background-color: #2c7be5;
  width: 17%;
  height: 100%;
  border-radius: 0.375rem;
}
.BarraGrisProgM3 {
  background-color: #141516;
  width: 83%;
  height: 100%;
  border-radius: 0.375rem;
}
.BarraAzulProgM4 {
  background-color: #2c7be5;
  width: 8%;
  height: 100%;
  border-radius: 0.375rem;
}
.BarraGrisProgM4 {
  background-color: #141516;
  width: 92%;
  height: 100%;
  border-radius: 0.375rem;
}
.BarraAzulProgM5 {
  background-color: #2c7be5;
  width: 7%;
  height: 100%;
  border-radius: 0.375rem;
}
.BarraGrisProgM5 {
  background-color: #141516;
  width: 93%;
  height: 100%;
  border-radius: 0.375rem;
}

.casillaProductosM .contenedorTextoProductoM span:first-child {
  text-decoration: none;
}
.casillaProductosM
  .fotoProductosM:hover
  + .contenedorTextoProductoM
  span:first-child,
.casillaProductosM .contenedorTextoProductoM:hover span:first-child {
  text-decoration: underline;
}

.BotonVerM {
  background-color: var(--fondo);
  color: var(--font-color);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  transition: 0.5s;
}

.BotonVerM:active {
  background-color: var(--primary);
}

.BotonVerM:hover {
  cursor: pointer;
}
.FormularioM {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-bottom: 5px;
  background-color: var(--complemento-fondo);
  padding-top: 5px;
  padding-right: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.botonesrafa {
    opacity: 0;
    display: flex;
    flex-direction: row;
  
}
.primerEjemploM:hover .botonesrafa {
    
    opacity: 100%;
}

.tituloDeCategoriaM{
  background-color: var(--complemento-fondo);
  height: 40px;
  display: flex;
  width: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 
;}

  .palabraEsaM {
    margin-left: 10px;
    margin-top: 12px;
    white-space: nowrap;
    font-size: 13px;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 500;

  }
  .segundoPalabraEsaM{
  font-weight: 500;

      margin-left: 10px;
      margin-top: 12px;
      white-space: nowrap;
      font-size: 13px;
      color: blue;
      font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    }

    .segundoPalabraEsaM:hover{
  text-decoration: underline;
  cursor: pointer;
    }
  .espaciadorOtroM{
    flex-grow: 0.8;
  }

  .fotoSharedFilesM{
    width: 2.5rem;
    height: 2.5rem;
    margin: 10px;
    border-radius: 10%;
  }

  .primerEjemploM{
    align-items: center;
    position: relative;
    display: flex;
    flex: auto;
}
 
.NombreM{
  color:#5e6e82;
  margin-right:20px;
  font-weight: 600;
}

.NombreM2{
  font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #748194;
}

 

  .espaciador7M{
    flex-grow: 0.7;
  }

  .primerEjemploM:hover{
    cursor:pointer;
  }

  .primerEjemploM:hover .textoFotoM h4{
    text-decoration: underline;
  }


  .parteMigue2{
    display: flex;
    margin-left: 20px;
    
    justify-content: space-between;
    height: auto;
  }
  .quintaTarjetaM{
   margin: 5px;
    flex: 1 50%;
    background-color: var(--cards);
    border-radius: 15px;
    
  }

  .sextaTarjetaM{
    flex: 1 50%;
    background-color: var(--cards);
    margin:5px;
    flex-direction: column;
    display: flex;
    border-radius: 15px;
    color: var(--font-color);
  }
  .cabeceraTarjetaM{
    height: 40px;
    width: auto;
    display: flex;
    background-color: var(--complemento-fondo);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .espaciador8M{
    flex-grow: 1;
  }
 

  
  .imagenTarjetaM{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
 
  

  .usuariosTarjetaM{
    display: flex;
  }



  .divImagenM::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    background-color: green;
    border: 1px solid rgb(255, 255, 255);
  }

  .divImagenM2::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    background-color: orange;
    border: 1px solid rgb(255, 255, 255);
  }

  .divImagenM3::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid rgb(255, 255, 255);
  }

  .divImagenM{
    position: relative;
    margin: 5px;
  }
  .divImagenM2{
    position: relative;
    margin: 5px;
  } .divImagenM3{
    position: relative;
    margin: 5px;
  }

  .nombreUsuariosM{
    margin-left: 5px;
    margin-top: 7px;
    color: var(--font-color);
  }

  .nombreUsuariosM h4:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  .UsuariosActivosM{
    display: flex;
    justify-content: center;
    height: 30px;
    background-color: var(--complemento-fondo);
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: blue;
    cursor: pointer;
  }

  .UsuariosActivosM p{
    margin-right: 10px;
    font-family:Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }

  .UsuariosActivosM:hover p:first-child{
    text-decoration: underline;
  }

  .cabeceraUltimaM{
    height: 40px;
    width: auto;
    display: flex;
  background-color: var(--complemento-fondo);
  border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  
  }
  .fuente1M{
    font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: var(--font-color);
  }

  .contenidoHijo2M{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex: 1;
  }
  .circunferencia93M{
    border: 10px solid grey;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
  
     
    
  }
  
  .espaciador10M{
    flex-grow: 0.9;
  }
  .circunferencia293M{
    border: 10px solid blue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 93%, 0 100%);
    transform: rotate(150deg);
    
}

.GBTextoM{
  font-size: 1.5rem;
  display: flex;

}
.GBTextoM2{
  margin-top: 5px;
  margin-bottom: 10px;
  
}

.nueveTresM{
  font-size: 5rem;
  color: var(--font-color);
}
.GBsalvedM{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}
.cabeceraUltima2M{
  display: flex;
  justify-content: space-between;
  background-color: var(--complemento-fondo);
  height: 40px;
  border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.desplegableMesesM{
  margin-left: 15px;
}

.linkUltimoM{
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 400;
 font-family:Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"

}

.ActiveUsersM{
  margin: 10px;
}

.RemoveRedM{
  color: red;
}

.puntitosM{
  margin-top: 10px;
  margin-right: 5px;
}
.puntitosM:hover{
  cursor: pointer;
}

.bandwidthM{
  font-weight: 500;
  margin-top: 10px;
  margin-left: 20px;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.puntitos2M{
  margin-top: 10px;
  
}
.puntitos2M:hover{
  cursor: pointer;
}

.linkUltimoM{
  color: blue;
}
.linkUltimoM:hover{
  text-decoration: underline;
  cursor: pointer;
}
.colorTickM{
  color: #00864e;

}


.custom-select{
  display: inline-block;
  position: relative;
  padding: 5px;
  cursor: pointer;
  color: var(--font-color);
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 5px;
}
.options {
  display: none;
  position: absolute;
  color: var(--dark-font);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.option {
  padding: 8px;
  cursor: pointer;
}

.nombreUsuariosM p{
 color:var(--font-color);
 font-weight: 200;
 font-size: 0.80rem;
 margin-top: 2px;
}

/* ANIMACIONES INICIO */
/* Animación de rotación */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ripple {
  from{

  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}
/* Animación de onda */

/* ANIMACIONES FIN  */

/* Responsive Inicio */
@media (max-width: 1200px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "contenido contenido"
      "contenido contenido";
    width: 100%;
  }
  .header{
    left: 0;
  }
  .sidebar {
    left: 0;
    display: none;
    width: 100%;
    
  }
  .busqueda {
    display: none;
  }
  .contenido{
    left: 0;
  }
}
/* Responsive Fin */
